# Node modules (frontend and backend)
client/node_modules/
backend/node_modules/

# Build output (React)
client/build/

# Environment variables
*.env

# OS files
.DS_Store

# env files
flaskServer/secrets.env
flaskServer/__pycache__/
flaskServer/*.pyc
flaskServer/*.pyo
flaskServer/.env
flaskServer/venv/
flaskServer/.env.*
